body {
  margin-top: 200px;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-family: 'Kranky', cursive;
  margin-bottom: 0;
}

h2 {
  font-family: 'Electrolize', cursive;
  color: #0000ff;
  margin-top: 0;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

img {
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}